SafetyCriticalSystem/Code/Code.jar
GeneticAlgorithm/Code/Code.jar
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
GeneticAlgorithm/Code/.vscode/launch.json
GeneticAlgorithm/Code/.vscode/settings.json
GeneticAlgorithm/bin/
GeneticAlgorithm/Code/Code.jar
SafetyCriticalSystem/Code/modules/Module7/.vscode/c_cpp_properties.json
SafetyCriticalSystem/Code/.vscode/c_cpp_properties.json
SafetyCriticalSystem/Code/modules/Module9/Module9.class